body{

margin:0;
text-align: center;
color:#40514E;
}

p{
  line-height: 2;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Great Vibes', sans-serif;
  font-size: 5.625rem;
  font-weight: lighter;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Fredericka the Great', arial, sans-serif;
}

h1, h2 {
color:#66BFBF;
}

h3 {
  color: #11999E;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: #11999E;
}

a:hover{
  color: #eaf6f6;
}


hr{
  /*background-color: #ffffff;*/
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 8px;
  /*height: 2px;*/
  width: 5%;
  margin: 100px auto;

}

/******Class Selectors******/

.goodBye {
width: 40%;
margin: 0 auto;
margin: 40px auto 60px;
}

.jobDesc {
  font-size: 2.8rem;
  font-weight: normal;
  font-family:'VT323', arial;
}
.top-cloud{
  position: relative;
  left : 215px;
  bottom: 0;
  width: 180px;

}


.bottom-cloud {
  position: relative;
  right: 215px;
  top: 18px;
  width: 180px;
}
.topContainer {
  background-color: #effcef;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 10px auto 10px auto;
  text-align: left;

  overflow: auto;
}

.bottom-container {
  padding: 30px 0 20px;
  background-color: #66BFBF;
}

.bottomText {
  color: #EAF6F6;
  padding: 10px 0 20px;
}


.footer-link {
  font-size: 1.5rem;
  padding: 0 10px;
}
.middle-container{
  margin: 100px 0;
}
.intro {
  width: 30%;
  margin: 1% auto;
}
/******Id selectors*******/

#fotoYo  {
  width: 20px;
  border-radius: 100%;
  margin: auto;

}

#CSharp{
  width: 25%;
  float: left;
  margin-right: 30px;


}


#SQL{
  width: 25%;
  float: right;
  margin-left: 30px;

}

/******Practica*******/
.red{
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 200px;
  left:200px;
}

.blue {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 100px;
  left:100px;

}

.yellow{
  background-color:yellow;
  height: 100px;
  width: 100px;

}



/************Button****************/

.myButton {
	box-shadow: 0 0 0 -50px #f0f7fa;
	background:#66BFBF;
	background-color:#66BFBF;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#e8eaed;
	font-family:Arial;
	font-size:19px;
	font-style:italic;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0 0 3px #5b6178;

}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #66BFBF 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
